// Variables
$primary-color: #353535;
$secondary-color: #eee;
$tertiary-color: #284b63;
$link-color: #333;
$hover-color: #ff7e5f;
$font-stack: 'PT Serif', serif;

// Breakpoints
$tablet: 768px;
$phone: 480px;

.back-to-top {
    display: block;
    text-align: center;
    margin: 20px 0;
    color: $link-color;
    text-decoration: none;
}

h2 {
    margin-top: 10px;
}

html, body {
    height: 100%;
    margin: 0;
    background-color: #d9d9d9;
}

body {
    font-family: $font-stack;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    color: $primary-color;
    background-color: #d9d9d9;
}

// Header
header {
    background: $primary-color;
    color: white;
    text-align: left;
    padding: 5px 10px;
}

// Navigation
nav {
    background: $tertiary-color;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

    .hamburger {
        cursor: pointer;
        position: relative;
        display: block;

        div {
            width: 25px;
            height: 3px;
            background-color: $secondary-color;
            margin: 6px 0;
            transition: 0.4s;
        }
    }

    .nav-links {
        display: none;
        position: absolute;
        background-color: $secondary-color;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
        padding: 10px;
        top: 40px;
        left: 0;
        z-index: 100;

        a {
            text-align: left;
            padding: 5px 10px;
            color: $link-color;
            text-decoration: none;

            &:hover {
                background-color: $hover-color;
                color: white;
            }
        }

        &.show {
            display: flex;
            flex-direction: column;
        }
    }

    @media (max-width: $tablet) {
        .hamburger {
            display: block;
        }
    }
}

// Breadcrumb
.breadcrumbs {
    font-size: 0.8rem;
    margin: 20px 20px;
    text-align: left;

    a {
        color: $link-color;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
    span {
        margin: 0 5px;
    }
}

// Main Container
main {
    flex: 1; 
    display: flex;
    justify-content: space-between;
    margin: 20px;

    .container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        width: 100%;
        height: 100%; 

        .content-area {
            display: flex;
            flex-direction: column;
            flex-grow: 1; 

            section {
                flex-grow: 1; 
                display: flex;
                flex-direction: column;
        
                
                justify-content: flex-start;
        
                background: white;
                padding: 20px;
                box-shadow: 0 2px 4px rgba(0,0,0,0.1);
                border-radius: 8px;
                margin-bottom: 20px; 

            }
        }
    }

    @media (max-width: $tablet) {
        .container {
            grid-template-columns: 1fr;
        }
    }
}

// Call to Action Button 
.cta-button {
    background: linear-gradient(to right, #ff7e5f, #feb47b);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 25px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
    text-decoration: none;
    display: inline-block; 
    margin-top: 10px;
    cursor: pointer;
    font-weight: bold;
    text-align: center;

    
    align-self: center; 
    max-width: 200px; 

    &:hover {
        background: linear-gradient(to right, #feb47b, #ff7e5f);
    }

    @media (max-width: $tablet) {
        padding: 15px 30px;
        font-size: 1.1em;
    }

    @media (max-width: $phone) {
        width: 100%; 
        box-sizing: border-box;
        padding: 15px;
        font-size: 1.2em;
    }
}

// Footer
footer {
    text-align: center;
    padding: 10px 0;
    background: $primary-color;
    color: white;
}

//Responsive
@media (max-width: $phone) {
    header, footer {
        text-align: left;
        padding: 10px;
    }
}